@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Base thin scrollbar */
.thin-scrollbar::-webkit-scrollbar {
  width: 4px;       /* Vertical scrollbar width */
  height: 8px;      /* Horizontal scrollbar height — make this thicker */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Light mode thumb */
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Dark mode customization */
.dark .thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* Tailwind's blue-500 */
}

/* .draggable-cursor * {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
} */
 .draggable-cursor * {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  overflow-anchor: none;
}

.grab * {
  cursor: -webkit-grab;
  cursor: grab;
}